HELP.md
/target/classes/
/target/test-classes/
/target/generated-snippets/
/target/generated-sources/
/target/generated-test/sources/
/target/maven-archiver/
/target/maven-status/
/target/surefire-reports/
/target/*.jar
/target/*.jar.original
/bin/
/log/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.factorypath
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
/target/
